:root {
  --main: #0099ff;
  --main-transparent: #0099ff11;

  --light-background: #fafafa;
  --light-foreground: #fff;
  --light-color: #222;
  --light-color-subtitle: #444;
  --light-blocking-background: #0003;

  --dark-background: #22222a;
  --dark-foreground: #474754;
  --dark-color: #fff;
  --dark-color-subtitle: #ccc;
  --dark-blocking-background: #fff7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--light-color);
  transition: all 0.2s;
}
*.dark {
  color: var(-dark-color);
}

body {
  background-color: var(--light-background);
  position: relative;
  /* cursor: url(./static/images/cursors/doble_clicker.png) 0 0, auto; */
}
body.dark {
  background-color: var(--dark-background);
}

header {
  text-align: center;
  padding-top: 100px;
}
header *.dark {
  color: var(--dark-color);
}
header h1 {
  font-size: 3rem;
  font-weight: 1000;
}
header h3 {
  font-size: 1.8rem;
  font-style: italic;
  color: var(--light-color-subtitle);
  font-weight: 800;
}
header h3.dark {
  color: var(--dark-color-subtitle);
}
header .settings-container {
  text-align: right;
  margin-right: 30px;
}
/* */

header .settings-container #switch-sound {
  margin-right: 10px;
  background-color: var(--light-foreground);
  outline: 1px solid #0002;
  border: none;
  padding: 10px;
  padding-bottom: 7px;
  font-size: 1.2rem;
  border-radius: 1rem;
}
header .settings-container #switch-sound.dark {
  background-color: var(--dark-foreground);
}
header .settings-container #switch-sound.dark * {
  color: var(--dark-color);
}

/* */

header .settings-container #switch-theme {
  margin-right: 10px;
  background-color: var(--light-foreground);
  outline: 1px solid #0002;
  border: none;
  padding: 10px;
  padding-bottom: 7px;
  font-size: 1.2rem;
  border-radius: 1rem;
}
header .settings-container #switch-theme.dark {
  background-color: var(--dark-foreground);
}
header .settings-container #switch-theme.dark * {
  color: var(--dark-color);
}

.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 500px);
}
.main-container .blocking-background {
  display: none;
  margin: 0;
  position: relative;
  top: -10px;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-blocking-background);
  backdrop-filter: blur(2px);
  position: absolute;
  z-index: 100;
}
.main-container .blocking-background.dark {
  background-color: var(--dark-blocking-background);
}
.main-container .blocking-background.active {
  display: block;
}

.card {
  margin: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: var(--light-background);
  width: 300px;
  height: 400px;
  padding: 30px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.card.dark {
  box-shadow: none;
  background-color: var(--dark-background);
}
.card *.dark {
  color: var(--dark-color);
}

.card.window {
  background-color: var(--light-foreground);
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  z-index: 200;
}
.card.window.dark {
  background-color: var(--dark-foreground);
}
.card.window *.dark {
  color: var(--dark-color);
}
.card.window .window-info {
  padding: 10px 0 30px 0;
}

.card.window .window-info .title {
  display: inline-block;
  font-size: 2rem;
  margin: 15px 0;
}
.card.window .window-info .description {
  font-size: 1.2rem;
}

.card.window.cursors,
.card.window.actives {
  position: absolute;
  flex-flow: row wrap;
  text-align: center;
  width: 40vw;
}

.card.buy.dark {
  background-color: var(--dark-foreground);
}
.card.buy:hover {
  cursor: pointer;
}

.cursor.card,
.active.card {
  background-color: var(--light-background);
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  margin: 10px;
  height: auto;
  max-width: 200px;
}
.cursor.card.dark,
.active.card.dark {
  background-color: var(--dark-background);
}
.cursor.card.dark *,
.active.card.dark * {
  color: var(--dark-color);
}

.cursor.card.current {
  outline: 1px solid var(--main);
  background-color: var(--main-transparent);
}
.cursor.card .name,
.active.card .name {
  text-wrap: nowrap;
  font-size: 1.2rem;
}
.cursor.card .card.stats,
.active.card .card.stats {
  background-color: var(--dark-blocking-background);
  backdrop-filter: blur(10px);
  display: none;
  position: absolute;
  min-width: 220px;
  height: auto;
  padding: 20px;
  top: -70px;
  left: -60px;
  user-select: none;
}
.active.card .card.stats {
  top: -100px;
  left: -100px;
}
.cursor.card .card.stats.active,
.active.card .card.stats.active {
  display: flex;
  align-items: flex-start;
}
.active.card:hover,
.cursor.card:hover {
  cursor: pointer;
}

.close-window {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
}
.close-window svg {
  width: 100%;
  height: 100%;
}

.game {
  background-color: var(--light-background);
  position: relative;
  justify-content: space-evenly;
}
.game.dark {
  background-color: var(--dark-foreground);
}

.active {
  display: flex;
  flex-flow: column nowrap;
  margin: 10px;
  background-color: #f1f1f1;
}

.buy {
  width: auto;
  height: auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
}
.buy p {
  font-size: 1.5rem;
  padding-right: 10px;
}
.buy svg {
  width: 50px;
  height: 50px;
}

#cookie {
  width: 200px;
  height: 200px;
  border-radius: 50rem;
  background-color: rgb(184, 165, 112);
  position: relative;
  animation: cookie-lap 30s infinite linear;
  transition: all 0.25s;
  cursor: grab;
}

#cookie:hover {
  background-color: rgb(212, 190, 130);
}

.chip {
  width: 35px;
  height: 35px;
  border-radius: 50rem;
  background-color: rgb(66, 43, 17);
}
.chip.big {
  width: 45px;
  height: 45px;
}
.chip.small {
  width: 25px;
  height: 25px;
}

.cookie-counter {
  color: var(--light-color);
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
}
.cookie-counter.dark {
  color: var(--dark-color);
}
.cookie-counter .production {
  color: var(--light-color-subtitle);
  font-weight: 100;
  font-size: 1.2rem;
  margin: 5px 0;
  line-height: 0.5;
}
.cookie-counter .production.dark {
  color: var(--dark-color-subtitle);
}
.cookie-counter .counter.dark {
  color: var(--dark-color);
}

@keyframes cookie-click {
  0% {
    transform: scale(100%);
  }
  15% {
    transform: scale(90%, 60%);
  }
  30% {
    transform: scale(80%);
  }
  50% {
    transform: scale(105%);
  }
  70% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes cookie-lap {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.popNumber {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  font-weight: 1000;
  color: var(--main);
  animation: pop-number 1s;
  user-select: none;
}

@keyframes pop-number {
  from {
    opacity: 1;
    transform: scale(0.5, 0.5) rotate(-10deg) translate(0, 0);
  }
  to {
    transform: scale(1.2, 1.2) rotate(20deg) translate(10px, -30px);
    opacity: 0;
  }
}

@media only screen and (max-width: 624px) {
  header {
    padding-top: 30px;
  }
  header h1 {
    font-size: 2rem;
  }
  header h3 {
    font-size: 1.5rem;
  }
  .main-container {
    height: calc(100vh - 300px);
  }
  .main-container .buy-container {
    position: relative;
    top: -30px;
  }
  .card.stats {
    left: 0px !important;
  }
}

@media only screen and (max-width: 880px) {
  .card.window {
    min-width: 90vw;
    max-height: 70vh;
    overflow: auto;
    user-select: none;
  }
}
